# lockfile=false
use-lockfile-v6=true

auto-install-peers=true
strict-peer-dependencies=false
resolve-peers-from-workspace-root=false

ignore-dep-scripts=true

link-workspace-packages=deep
prefer-workspace-packages=true
save-workspace-protocol=false
